// Colors
$backgroundColour: #00539f;
$fontColor: #fff;
// Font settings
$tescoModReg: TESCOModern, "Helvetica Neue", Arial, sans-serif;
$headFontSize: 24px;
$headLineHeight: 24px;
$subHeadFontSize: 16px;
$subHeadLineHeight: 25px;
$smallPrintFontSize: 10px;
$smallPrintFontSize: 8px;